#explanation {
    margin-top: 50px;
    display: flex;
    justify-content: center;

    p {
        width: 80vw;
        font-weight: 400;
        font-size: large;
        // text-align: center;
    }
}

.container {
    padding: 20px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin: 2px 0;
    }

    h5 {
        margin: 5px 0;
    }

    table {
        tr {
            margin: 5px 0;
        }
    }

    hr {
        margin: 1.2em 0 1em 0;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield; /* For Firefox */
    }

    .info-icon {
        padding-left: 4px;

        &:hover {
            color: #61E5FF;
        }
    }
}

.section {
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    color: #fff;
    width: 80vw;
    display: grid;
    justify-items: center;
    font-weight: bold;
}

@media (min-width: 1200px) {
    .section {
        max-width: 930px;
        padding: 15px;
        margin: 10px 0;
        border-radius: 8px;
        color: #fff;
        display: grid;
        justify-items: center;
    }
}

.operational {
    background-color: #124651;
    color: #fff;
}

.embodied {
    background-color: #752D4D;
    color: #fff;
}

.sci {
    background-color: #5A7529;
    color: #fff;
}

.label {
    display: inline-block;
    width: 70%;
}

.units {
    display: inline-block;
    text-align: right;
    font-weight: bold;
}

.result {
    display: inline-block;
    text-align: right;
    font-weight: bold;
    padding: 5px;
}

.input-box {
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    text-align: center;
    color: black
}

.output-box {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    width: 80%;
}

.emission-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.row-input {
    text-align: end;
}

.math-symbol {
    display: flex;
    justify-content: end;
}

.multiplication-symbol {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 80%;
}

.card-table {
    margin: 20px 0 5px 0;
    width: 80%;
    justify-content: center;

    td {
        margin: 8px 0;
    }
}

.sci-results {
    font-size: 1.2em;
    margin: 1.2em 0;
}

/* Modal styling */
.hover-modal {
    display: none; /* Hidden by default */
    position: absolute;
    transform: translate3d(-65%, 5%, 0);
    width: 20vw;
    background-color: #fff;
    color: #333;
    padding: 0 15px 0 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
    font-size: 0.9em;

    p {
        padding-top: 0;
    }
}
  
/* Style for the button inside the modal */
.modal-button {
    display: block;
    width: 100%;
    margin: 10px 0 15px 0;
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.modal-button:hover {
    background-color: #0056b3;
}
  
/* Show modal on icon hover */
// .info-icon:hover + .hover-modal {
//     display: block;
// }

.info-icon:hover + .hover-modal {
    display: block;
}

// Overlay styling
.overlay {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
    z-index: 11; /* Sit on top */
}

// Popup styling
.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 12; /* Sit on top of the overlay */
}

.close-button {
    cursor: pointer;
    float: right;
    font-size: 20px;
    color: #aaa;
}

.close-button:hover {
    color: black;
}

#teads {
    width: 100%;
    border-collapse: collapse; /* Remove space between borders */
    text-align: center;
    
    th {
        background-color: #752D4D; /* Solid background color for the header */
        color: white; /* Text color for the header */
        padding: 10px; /* Padding for header cells */
    }
    
    td {
        padding: 10px; /* Padding for data cells */
        border: 1px solid lightgray; /* Light gray borders for cells */
    }
    
    tr {
        border-bottom: 1px solid lightgray; /* Light gray borders between rows */
    }
}


// Carbon Intensity Popup - US Map
#map {
    display: flex;
	justify-content: center;

	path {
		stroke: rgba(0,0,0,.2);
		stroke-width: 1;
		transition: .5s all linear;
		&:hover {
			fill: rgba(59, 224, 26, 0.2);
			transition: 0s all linear;
			cursor: pointer;
		}
	}
}